<ul>
  <a  ng-click='backSomething()'  ng-disabled='clicked' ng-model='wait'> {{wait || "previous page"}} </a> :: 
  <a  ng-click='doSomething()'  ng-disabled='clicked' ng-model='wait'> {{wait || "next page"}} </a>  <br><br> <!-- <a  ng-click='$state.go('planets/1')}' ng-disabled='clicked' ng-model='wait'> Back to Page 1 </a> <br><br> -->
<br><br>
<h1> pull dese star wars tings</h1>
<!--   <h2> Page {{page}} </h2> -->
  <br>
  <li ng-repeat="planet in planets" >{{planet.name}} -- {{planet.population}}
    <ul>
      <li ng-repeat="resident in planet.residents">
        <h2> {{answer[resident.id][0]}} </h2>
        <a ui-sref="resident({id: resident.id})" ng-hide="{{answer[resident.id]}}">
          Resident :: {{resident.name || resident.id}}  ::   {{resident.url}}
        </a>
      </li>
    </ul>

  </li>
</ul>
