<ul> 
  <button ng-click='backSomething()' ng-disabled='buttonClicked'> Previous page </button>
  <button ng-click='doSomething()' ng-disabled='buttonClicked'> Next page </button>  

<!--   <h2> Page {{page}} </h2> -->
  <br>

  <li ng-repeat="planet in planets" >{{planet.name}} -- {{planet.population}}
    <ul>
      <li ng-repeat="resident in planet.residents">
        
        <a ui-sref="resident({id: resident.id})" ng-hide='{{!resident}}'>
          Resident #:{{resident.id}}  ::   {{resident.url}}
        </a>
          <div ng-hide='{{!answer}}' ng-controller='ResidentCtrl' >
          <h2>  {{answer[resident.id][0]}} </h2> 
          </div>
      </li>
    </ul>

  </li>
</ul>
