<ul>
  <a  ng-click='backSomething()' ui-sref="planets({page: page})" ng-disabled='clicked'> Previous page </a> :: 
  <a  ng-click='doSomething()' ui-sref="planets({page: page})" ng-disabled='clicked'> Next page </a> 

<!--   <h2> Page {{page}} </h2> -->
  <br>
  <li ng-repeat="planet in planets" >{{planet.name}} -- {{planet.population}}
    <ul>
      <li ng-repeat="resident in planet.residents">
        <h2> {{answer[resident.id][0]}} </h2>
        <a ui-sref="resident({id: resident.id})" ng-hide="{{answer[resident.id]}}">
          Resident :: {{resident.name || resident.id}}  ::   {{resident.url}}
        </a>
      </li>
    </ul>

  </li>
</ul>
